---
layout: page
description: "Machine Learning Laboratory for Finance and Organizations"
---

<!-- seletor de lingua -->
<div class="row">
<ul class="nav nav-tabs navbar-right">
    <li><a href="/">Português</a></li>
    <li class="active"><a href="#">English</a></li>
</ul>
</div>

<!-- posts -->
{% for post in site.posts %}
	{% if post.lang contains 'en' %}
		<div class="post-preview">
		    <a href="{{ post.url | prepend: site.baseurl }}">
		        <h2 class="post-title">            {{ post.title }}
		        </h2>
		        {% if post.subtitle %}
		        <h3 class="post-subtitle">
		            {{ post.subtitle }}
		        </h3>
		        {% endif %}
		    </a>
		    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
		</div>
		<hr>
	{% endif %}
{% endfor %}